@import '../../../../style/form-field.scss';

.os-pf-title {
    font-weight: 500;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 40px;
}

.os-cam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.btnCamera {
    margin: 0 5px;
}

.divCam {
    margin: 10px auto;
}