<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title class="os-pf-title">
                Listagem de Pessoas Física
            </mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <mat-form-field class="os-width-full">
                <mat-label>Filtro por nome</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Nome" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="os-width-full">
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let campo"> {{campo.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let campo"> {{campo.nome}} </td>
                </ng-container>
            
                <ng-container matColumnDef="dt-nascimento">
                    <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                    <td mat-cell *matCellDef="let campo"> {{campo.dataNascimento | date:'dd/MM/yyyy' }} </td>
                </ng-container>
            
                <ng-container matColumnDef="nome-mae">
                    <th mat-header-cell *matHeaderCellDef> Nome da Mãe </th>
                    <td mat-cell *matCellDef="let campo"> {{campo.nomeDaMae}} </td>
                </ng-container>
            
                <ng-container matColumnDef="acoes">            
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let campo">
                        <button mat-icon-button title="Editar" (click)="onEdit(campo.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="colunas" class="os-rows"></tr>
                <tr mat-row *matRowDef="let row; columns: colunas;" class="os-rows"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Nenhum dado encontrado com o filtro "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Selecione a página!">
            </mat-paginator>

            <mat-divider></mat-divider>
            <mat-card-actions class="os-actions">
                <button mat-raised-button 
                    title="Gravar" 
                    (click)="onNovo()">
                    <mat-icon>person_add</mat-icon>
                    Cadastrar
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>