<app-header></app-header>
<main>
    <section class="main-section">        
        <div class="headline">
            <h1>Obras Sociais Francisco Thiesen</h1>
        </div>
    </section>
    <section class="card-section">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title-group>
                    <img ngSrc="./assets/franciscothiesen.jpg" width="250" height="200" />
                    <mat-card-title>Quem foi Francisco Thiesen</mat-card-title>
                    <mat-card-subtitle>Francisco Thiesen nasceu no Rio Grande do Sul, em 28 de março de 1927. Foi escritor, expositor, pesquisador espírita brasileiro e presidente da FEB. Tinha em sua personalidade a marca da objetividade e a luta constante pela causa espírita. Desencarnou no Rio de Janeiro a 6 de agosto de 1990.</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
        <mat-divider class="mat-divider" />

        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title-group>
                    <img ngSrc="./assets/projetoluizinho.png" width="250" height="200" />
                    <mat-card-title>Projeto Luizinho</mat-card-title>
                    <mat-card-subtitle>Aulas de ballet, violão, flauta e reforço escolar.</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
        <mat-divider class="mat-divider" />        
    </section>
</main>