<div class="os-home mat-elevation-z8">
    <app-header [drawerIn]="drawer"></app-header>    
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-button [routerLink]="[{outlets: {outletHome: 'main' }}]"><mat-icon>home</mat-icon>Home</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="mniCadastro"><mat-icon>how_to_reg</mat-icon>Cadastro</button>
                    <mat-menu #mniCadastro="matMenu" xPosition="after">
                        <button mat-menu-item [routerLink]="[{outlets: {outletHome: 'pessoafisica' }}]">
                            <mat-icon>arrow_right</mat-icon>
                            Pessoa Física
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Fornecedor
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Banco
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Conta Bancária
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Patrimônio
                        </button>
                        <button mat-menu-item>
                            <mat-icon>description</mat-icon>
                            Relatórios
                        </button>
                    </mat-menu>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="mniFinanceiro" [routerLink]="[{outlets: {outletHome: 'main' }}]"><mat-icon>attach_money</mat-icon>Financeiro</button>
                    <mat-menu #mniFinanceiro="matMenu" xPosition="after">
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Contas a Receber
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Contas a Pagar
                        </button>
                        <button mat-menu-item>
                            <mat-icon>description</mat-icon>
                            Relatórios
                        </button>
                    </mat-menu>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [matMenuTriggerFor]="mniEstoque" [routerLink]="[{outlets: {outletHome: 'main' }}]"><mat-icon>inventory_2</mat-icon>Estoque</button>
                    <mat-menu #mniEstoque="matMenu" xPosition="after">
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Cadastro
                        </button>
                        <button mat-menu-item>
                            <mat-icon>arrow_right</mat-icon>
                            Inventário
                        </button>
                        <button mat-menu-item>
                            <mat-icon>description</mat-icon>
                            Relatórios
                        </button>
                    </mat-menu>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button [routerLink]="[{outlets: {outletHome: 'main' }}]"><mat-icon>description</mat-icon>Relatórios</button>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;">
                <router-outlet name="outletHome"></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>