<section class="os-section">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Obras Sociais Francisco Thiesen</mat-card-title>
            <mat-card-subtitle>Área Administrativa</mat-card-subtitle>
            <img mat-card-image width="100" height="80" alt="Logo da Obra Social" src="assets/logoTransparent.png" />
        </mat-card-title-group>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Login</mat-label>
                    <input matInput placeholder="Digite seu login" formControlName="login" />
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Digite sua senha" formControlName="password" />
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button 
                        title="Acesse a área administrativa" 
                        (click)="onSubmit()" 
                        [disabled]="loginForm.invalid || loading()">
                        <mat-icon>login</mat-icon>
                        @if(!loading()){
                            Acessar
                        }@else {
                            Carregando...
                        }                        
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</section>