@import "../../../style/settings/variables.scss";

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 500px;
    margin: 50px 5%;

    mat-card {
        text-align: start;
        background-color: $os-primary-color;
        padding: 10px;
        width: 50%;
        height: 70%;
    }

    mat-card-title {
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    mat-card-subtitle {
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    mat-card-content {
        margin-top: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    mat-form-field {
        width: 50%;
    }

    mat-card-actions {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            font-size: 20px;
            padding-block: 10px;
            padding-inline: 10px;
            cursor: pointer;
        }
    }
}