.os-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .os-field-unico {
        width: 100%;
    }

    .os-fields-laterais {
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        
        .os-field-lateral {
            flex: 1;
        }
    }    
}

.os-pf-title {
    font-weight: 500;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 40px;
}

.os-actions {
    justify-content: center;
    gap: 10px;
    margin: 10px auto;

    button {
        font-size: 16px;
        font-weight: 500;
        padding-block: 10px;
        padding-inline: 10px;
        cursor: pointer;        
    }
}